<main id="research_section">
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-5 p-5">
                    <img class="img-fluid border border-primary border-5" src="assets/css/images/researchQuestion.jpg" alt="Image of an apple sitting on a stack of books."> 
                </div>
                <div class="col-sm-7 p-5">
                    <h1 class="display-5">Research</h1>
                    <p> My research focuses race, the knowledge economy, and labor. I'm interested in how the legacies of literacy for liberation carry forward into new technologies by learning how racially marginalized people create their own means for transformative access using their digital literacies for labor and money. My approach is qualitative: interviewing community members, participating in community events, collecting literacy artifacts meaningful to their lives, and honoring their voices through writing. My first research project - <i>From Pipeline to Black Tech Ecosystems: How Black Adults Use Computer Code Bootcamps for Liberation</i> - focuses on Black adults attending a computer code bootcamp, now under contract with   (under contract with <a href="https://upcolorado.com/the-wac-clearinghouse#:~:text=The%20WAC%20Clearinghouse%20supports%20teachers,digital%20format%20for%20free%20download.">The WAC Clearinghouse / University Press of Colorado</a>) 
                    </p>. I've begun my second research project focusing on how Black freelance / contract coders and graphic designers advocate for their digital literacies. This project is tentatively titled <i>Below the Fold: Black Temp Coders on the Prowl for Respect</i>. Other related research interests include BLack feminisist care as writing assessment, responsive graduate education, and students' writerly identities transform when they enounter generative artificial intelligence. A sample of my work is below!

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#between_learning"> Between Learning and Opportunity</button>  
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#coming_home"> Like Coming Home</button>
                    <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#black_technical_joy"> Black Technical Joy</button>

                    <div class="modal fade" id="between_learning" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Between Learning and Opportunity</h5>
                              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                This study examines how African American adults attending a code bootcamp continue to learn coding literacy despite life challenges associated with racial oppression. suggest that participants use various clusters of support in their network to provide the personal resources coders need to code and what is hard to come by in situations of racial injustice. Instead of a universal approach to accessing technology, different kinds of networks and resources can lead to continuous access. This study furthers research on racially marginalized adults’ digital literacies and demonstrates how ego network analysis maybe useful for qualitative research on theories of ecological writing. 
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary" href="assets/Files/Byrd_BetweenLearning.pdf" download="Between Learning and Opportunity" role="button">Download the article here!</a>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="modal fade" id="coming_home" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Like Coming Home</h5>
                              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Some computer code bootcamps offer racially marginalized adults training in computer programming to assist in their social mobility. Many African American adults have little to no prior experience with programming. Literacy life history interviews show that the procedural literacy adult students practiced out of school scaffolded their learning coding literacy. 
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary btn-sm" href="assets/Files/Byrd_likeHome.pdf" download="Like Coming Home" role="button">Download the article here!</a>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="modal fade" id="black_technical_joy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Testifying to Black Technical Joy</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            This article examines how 14 Black professional communicators publicly
                            share their stories about their career change into software development
                            and other positions in the tech industry. Findings suggest that Black readers
                            looking to shift into the tech field benefit from emotional experiences with
                            professional development resources as they make their strategic career
                            pivots. Black technical joy describes this rhetorical practice to find comfort
                            in and celebration of the strategic ways Black people approach technical
                            communication.
                          </div>
                          <div class="modal-footer">
                              <a class="btn btn-primary" href="assets/Files/Byrd_BlackTechnicalJoy.pdf" download="Testifying to Black Technical Joy" role="button">Download the article here!</a>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
</main>